* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
  padding: 40px;
  font-family: Arial,  sans-serif;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.container {
  background-color: white;
  width: 100%;
  height: 70vh;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 15px;
}

.left{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

}


.main-img{
    width: 500px;
    height: auto;
    border-radius: 10px;
}
.photo{
    display: flex;
    gap: 15px;
}
.photo img{
    width: 108px;
    height: 120px;
    border-radius: 8px;
    cursor: pointer;
}


.right {
  width: 100%;
  height: 74%;
  max-width: 450px;
}

.cards {
  padding: 5px;
  margin: 5px;
}

h2 {
  padding: 5px;
  font-size: 20px;
  color: grey;
}

h3 {
  font-size: 50px;
}

.card p {
  padding: 20px;
}

h5 {
  font-size: 15px;
  text-decoration: line-through;
  color: gray;
}

h6 {
  font-size: 30px;
  color: black;
  padding-right: 35px;
}
.text {
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
}
h4 {
  color: white;
  background-color: black;
  font-size: 25px;
}

.text-2 {
  width: 100%;
  height: 43px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
}
button {
  width: 50%;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.but {
  background-color: orange;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


